params {
    project             = "1000g_deep_mutect_0.95_noindel_subsample_chip"
    sample_data         = "data/sample_data/mutect/*vcf.gz"
    alt                 = 0.95
    indel               = ""
    output              = "prerefpan"
    allele_count        = 2
    version             = 1
    build               = "hg38"
    id                  = "1000G"
    encryption.enabled  = true
    subset_sample_file  = "data/subsamples/subsamples.txt"
}
