params {
    project             = "1000g_deep_mutect_0.95_noindel"
    sample_data         = "data/sample_data/mutect/*vcf.gz"
    alt                 = 0.95
    indel               = "noindel"
    output              = "prerefpan"
    allele_count        = 2
    version             = 1
    build               = "hg38"
    id                  = "1000G"
    encryption.enabled  = true
}
