params {
    project             = "test_all"
    sample_data         = "data/sample_data/mutect/*vcf.gz"
    alt                 = 0.95
    indel               = "noindel"
    output              = "prerefpan"
    allele_count        = 2
    version             = 1
    build               = "hg38"
    id                  = "id"
}
