params {
    project             = "1000G_deep_mutect_test"
    sample_data         = "test/data/*vcf.gz"
    alt                 = 0.95
    indel               = "noindel"
    output              = "prerefpan"
    allele_count        = 2
    version             = 1
    build               = "hg38"
    id                  = "1000G"
    encryption.enabled  = true
}
